body 
{
	font-family: Verdana, arial, helvetica, sans-serif;
	margin: 0 auto 0 auto;
	padding: 0;
	width: 754px;
}

#header 
{
	height: 126px;
	background: url("../img/header.png");
}

#menu 
{
	margin: 0;
	padding: 10px 64px 0 70px;
	height: 32px;
	background: url("../img/menu.png");
	font-size: 13px;
	color: #77a1ff;
}

